#word, #status {
  font-size: 48px;
  font-family: monospace;
  letter-spacing: 5px;
  text-align: center;
  color: hsl(0, 0%, 0%);
}

#badGuesses, #status {
 font-size: 24px;
  font-family: monospace;
  color: hsl(0, 100%, 50%);
  word-wrap: break-word;
  }

img {

margin-left: auto;
margin-right: auto;
display: block;
}

body {

font-family: monospace;
text-align: center;

}

#heading {

text-align: center;
margin: 20px;
color: hsl(120, 100%, 40%);


}
